.form-control {
    color: #212529;
    background-color: transparent;
}

.form-label-group input::placeholder {
    color: #212529;
}

.taackColorBlue {
    color-scheme: dark;
    color: #000099;
}

a {
    color: #49759b;
    text-decoration: none;
}

.taackTable {
    width: 18.4cm;
}
