.taackColorRed {
    color: #990000;
}

.taackColorBlue {
    color: #000099;
}

.taackColorGreen {
    color: #009900;
}

.taackColorOrange {
    color: #ba731b;
}

.taackColorYellow {
    color: #baaf1b;
}

.taackFontBold {
    font-weight: bold;
}

.taackFontEmphasis {
    font-weight: bolder;
    font-size: larger;
}

.taackContainer {
    overflow: hidden;
    padding: 5px 5px 10px 5px;
    /*zoom: 0.9;*/
}

.taackContainer .taackContainer {
    outline: none;
}

.taackCssDisabled {
    color: gray;
}

.taackBreakAfter:after {
    content: "\a";
    white-space: pre;
}

span.neutral {
    background-image: url(../images/taack/icons/modifiers/neutral.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

span.desc {
    background-image: url(../images/taack/icons/modifiers/descw.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

span.asc {
    background-image: url(../images/taack/icons/modifiers/ascw.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.deleteIconM2M {
    position: absolute;
    margin-top: 3px;

}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

form .form-floating .form-label {
    color: grey;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

form .bootstrap legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    /* color: #333; */
    border-bottom: 1px solid #e5e5e5;
    float: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
    font-size: small;
}

form.taackForm legend {
    margin-top: 1rem;
}

.grid-title {
    line-height: 48px;
    /* text-align: center; */
    padding-left: 5px;
    font-size: 140%;
    position: relative;
    background-color: aliceblue;
}

.grid-title .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.filter {
    font-size: small;
}

input, select, textarea {
    font-size: 1em;
    padding: 0.2em 0.4em;
}

.taackTable {
    width: 100%;
}

.taackTable td, .taackTable th {
    line-height: 1.2em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
    font-size: small;
}

.taackTable th a {
    display: block;
}

fieldset,
.property-list {
    /*margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;*/
    position: relative;
    zoom: 1;
    border: none;
    font-size: small;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
    display: flex;
    align-items: center;
    gap: 10%;
}

.fieldcontain {
    margin-top: 0.6em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 20%;
}

.fieldcontain .property-label {
    /*float: left;*/
}

.fieldcontain .property-value {
    display: block;
}

ul.errorKey {
    margin: 5px;
    padding: 5px;
}

.errorEntry {
    color: red;
}

td.firstCellInGroup-0 {
    padding-left: 20px !important;
}

td.firstCellInGroup-1 {
    padding-left: 40px !important;
}

td.firstCellInGroup-2 {
    padding-left: 60px !important;
}

td.firstCellInGroup-3 {
    padding-left: 80px !important;
}

td.firstCellInGroup-4 {
    padding-left: 100px !important;
}

td.firstCellInGroup-5 {
    padding-left: 120px !important;
}

td.firstCellInGroup {
   /* position: relative;*/
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup:before {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    width: 0;
    height: 0;
    cursor: pointer;
}

tr[taacktablerowgrouphaschildren='true'][taacktablerowisexpended='true'] td.firstCellInGroup:before { /* ARROW_DOWN */
    border-top: 10px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

tr[taacktablerowgrouphaschildren='true']:not([taacktablerowisexpended='true']) td.firstCellInGroup:before { /* ARROW_RIGHT */
    border-left: 10px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup-0:before {
    left: 5px;
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup-1:before {
    left: calc(5px + 20px);
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup-2:before {
    left: calc(5px + 20px * 2);
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup-3:before {
    left: calc(5px + 20px * 3);
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup-4:before {
    left: calc(5px + 20px * 4);
}

tr[taacktablerowgrouphaschildren='true'] td.firstCellInGroup-5:before {
    left: calc(5px + 20px * 5);
}

td.firstCellInGroup-1:after,
td.firstCellInGroup-2:after,
td.firstCellInGroup-3:after,
td.firstCellInGroup-4:after,
td.firstCellInGroup-5:after { /* Vertical line that marks the row indent level */
    content: '';
    position: absolute;
    top: 0;
    display: inline-block;
    width: 0;
    height: 100%;
    border-left: 2px solid lightgrey;
    border-top: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
}

td.firstCellInGroup-1:after {
    left: 15px;
}

td.firstCellInGroup-2:after {
    left: calc(15px + 20px);
}

td.firstCellInGroup-3:after {
    left: calc(15px + 20px * 2);
}

td.firstCellInGroup-4:after {
    left: calc(15px + 20px * 3);
}

td.firstCellInGroup-5:after {
    left: calc(15px + 20px * 4);
}

td[taacktag] em {
    color: coral;
}

#taack-main-block {
    position: relative;
}

#taack-load-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('/assets/taack/spinner_load.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    z-index: 101;
}

.tck-hidden {
    display: none !important;
}

.taack-tab-load {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/assets/taack/spinner_load.svg);
    background-repeat: no-repeat;
    background-position: center;
}

svg text {
    fill: var(--bs-body-color);
}

.modal-open {
    padding-right: 15px;
    overflow-y: hidden;
}

.modal-header {
    justify-content: right;
    padding: 10px 20px 20px 0;
    border-bottom: none;
}

.btn-taack-close, .btn-taack-fullscreen, .btn-taack-minimize {
    font-size: larger;
    padding: 0 .15em;
    margin: 0;
    opacity: 0.5;
}

.btn-taack-close:hover, .btn-taack-fullscreen:hover, .btn-taack-minimize:hover {
    opacity: 0.75;
}

#taack-modal-minimize-items {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
}

#taack-modal-minimize-items button {
    margin: 0 0.2em;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

/*CONTEXT MENU*/
.custom-context-menu {
    background: rgba(255, 255, 255, 0.98);
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.08);
    min-width: 180px;
    padding: 8px 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.custom-context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-context-menu li {
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    user-select: none;
}

.custom-context-menu li:hover {
    background-color: #f5f5f5;
    color: #2196F3;
}

/*For icons, not implemented atm
.custom-context-menu li::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
}*/

.custom-context-menu li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.custom-context-menu {
    animation: fadeIn 0.1s ease-out;
}

.dropdown-item {
    padding: 10px 16px;
}

.nested-dropdown {
    display: none;
    position: absolute;
    left: 100%;
    background-color: white;
    border: 1px solid #ccc;
}
.nested-dropdown.flip-left {
    left: auto;
    right: 100%;
}

.nested-dropdown li {
    padding: 10px 16px;
}

li:hover > .nested-dropdown{
    display: block !important;
}

.context-has-dropdown {
    position: relative;
    padding: 10px 16px;
}

.context-has-dropdown::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
}