html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}
/*
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}*/

/*[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}*/

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif
}

.hidden, [hidden] {
    display: none !important
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block
}

.pure-g {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start
}

.pure-u {
    display: inline-block;
    vertical-align: top
}

.pure-u-1, .pure-u-1-1, .pure-u-1-12, .pure-u-1-2, .pure-u-1-24, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-8, .pure-u-10-24, .pure-u-11-12, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-2-24, .pure-u-2-3, .pure-u-2-5, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24, .pure-u-3-24, .pure-u-3-4, .pure-u-3-5, .pure-u-3-8, .pure-u-4-24, .pure-u-4-5, .pure-u-5-12, .pure-u-5-24, .pure-u-5-5, .pure-u-5-6, .pure-u-5-8, .pure-u-6-24, .pure-u-7-12, .pure-u-7-24, .pure-u-7-8, .pure-u-8-24, .pure-u-9-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.pure-u-1-24 {
    width: 4.1667%
}

.pure-u-1-12, .pure-u-2-24 {
    width: 8.3333%
}

.pure-u-1-8, .pure-u-3-24 {
    width: 12.5%
}

.pure-u-1-6, .pure-u-4-24 {
    width: 16.6667%
}

.pure-u-1-5 {
    width: 20%
}

.pure-u-5-24 {
    width: 20.8333%
}

.pure-u-1-4, .pure-u-6-24 {
    width: 25%
}

.pure-u-7-24 {
    width: 29.1667%
}

.pure-u-1-3, .pure-u-8-24 {
    width: 33.3333%
}

.pure-u-3-8, .pure-u-9-24 {
    width: 37.5%
}

.pure-u-2-5 {
    width: 40%
}

.pure-u-10-24, .pure-u-5-12 {
    width: 41.6667%
}

.pure-u-11-24 {
    width: 45.8333%
}

.pure-u-1-2, .pure-u-12-24 {
    width: 50%
}

.pure-u-13-24 {
    width: 54.1667%
}

.pure-u-14-24, .pure-u-7-12 {
    width: 58.3333%
}

.pure-u-3-5 {
    width: 60%
}

.pure-u-15-24, .pure-u-5-8 {
    width: 62.5%
}

.pure-u-16-24, .pure-u-2-3 {
    width: 66.6667%
}

.pure-u-17-24 {
    width: 70.8333%
}

.pure-u-18-24, .pure-u-3-4 {
    width: 75%
}

.pure-u-19-24 {
    width: 79.1667%
}

.pure-u-4-5 {
    width: 80%
}

.pure-u-20-24, .pure-u-5-6 {
    width: 83.3333%
}

.pure-u-21-24, .pure-u-7-8 {
    width: 87.5%
}

.pure-u-11-12, .pure-u-22-24 {
    width: 91.6667%
}

.pure-u-23-24 {
    width: 95.8333%
}

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
    width: 100%
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center
}

.pure-table td, .pure-table th {
    border-left: 1px solid #cbcbcb;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom
}

.pure-table td {
    background-color: transparent
}

.pure-table-odd td {
    background-color: #f2f2f2
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2
}

.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb
}

.pure-table-horizontal td, .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb
}

td {
    border-bottom-width: 0
}

.form-control {
    color: #212529;
    background-color: transparent;
}

.form-label-group input::placeholder {
    color: #212529;
}

.taackColorBlue {
    color-scheme: dark;
    color: #000099;
}

a {
    color: #49759b;
    text-decoration: none;
}

.taackTable {
    width: 18.4cm;
}

div#header {
    /*display: inline-block;*/
    border: 1px black solid;
    /*margin-left: -1cm;*/
    text-align: center;
    position: running(header-top-center);
}

div#header-left {
    /*margin-left: -1cm;*/
    /*display: inline-block;*/
    /*border: 1px red solid;*/
    text-align: left;
    position: running(header-top-left);
}

div#header-right {
    /*display: inline-block;*/
    border: 1px blue solid;
    /*margin-left: -1cm;*/
    text-align: right;
    position: running(header-top-right);
}

div#footer {
    display: block;
    text-align: center;
    font-size: 3mm;
    position: running(footer);
}

body {
    width: 190mm;
    /*height: 297mm;*/
}

/*@page {*/
/*    !*-fs-page-orientation: portrait;*!*/
/*    size: 210mm 297mm;*/
/*    @top-left {*/
/*        content: element(header-top-left)*/
/*    }*/
/*    @top-center {*/
/*        content: element(header-top-center)*/
/*    }*/
/*    @top-right {*/
/*        content: element(header-top-right)*/
/*    }*/

/*    margin-top: ${headerHeight?:"5cm"};*/
/*    @bottom-center {*/
/*        !*font-style: italic;*!*/
/*        !*font-family: "DINPro-LightItalic";*!*/
/*        content: element(footer)*/
/*    }*/
/*    @bottom-right {*/
/*        font-size: 3mm;*/
/*        content: counter(page) " / " counter(pages)*/
/*    }*/
/*}*/

div.pure-u-1 {
    /*border: 1px red solid;*/

    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
}

table {
    -fs-table-paginate: paginate;
    width: 18.4cm;
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
    /*margin-left: 1mm;*/
    margin-top: 6mm;
    border-collapse: collapse;
    font-size: 3mm;

}

.columnSmall {
    width: 12mm;
}

.terms {
    page-break-inside: auto;
    font-size: 2.5mm;
    line-height: 3mm;
}

.separator td {
    border-bottom: 0.3mm solid black;
}

tr, td {
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
}

tbody {
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
}

thead {
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

li {
    list-style-type: none;
}

.markdown-body ul{
    list-style: none;
    padding-left: 20px;
}

.markdown-body li:before{ content:"•"; font-size:10pt; }

.markdown-body li li:before{ content:"•"; font-size:10pt; }

ol {
    /*padding-inline-start: 0;*/
    padding-left: 0;
}

body {
    font-size: small;
}

/*@font-face {*/
/*    font-family: NotoSansSC;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: url("file://${root}/pdf/fonts/NotoSansSC-Regular.ttf");*/
/*    !*-fs-font-subset: complete-font;*!*/
/*}*/

/*@font-face {*/
/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: url("file://${root}/pdf/fonts/Roboto-Medium.ttf");*/
/*    !*-fs-font-subset: complete-font;*!*/
/*}*/


html {
    font-family: NotoSansSC, Roboto, sans-serif;
}

.pure-g {
    font-family: NotoSansSC, Roboto, sans-serif;
}

.pure-g [class *= 'pure-u'] {
    font-family: NotoSansSC, Roboto, sans-serif;
}

table.general-condition {
    font-size: smaller;
    page-break-inside: avoid;
}

span.property-value p {
    margin: 0.3cm;
}
ul.property-list, ul.taackSection {
    padding: 0;
}

ul.taackSection {
    padding-top: 0.5cm;
}

ul.taackSection>li {
    padding-left: 0.5cm;
}

span.property-value li {
    margin-top:0.1cm;
    list-style-type: disc;
}

li.fieldcontain {
    page-break-inside: avoid;
}

.taackMarkdown li {
    all: revert;
}

.taackMarkdown ol {
    all: revert;
}

.fieldcontain .property-label {
    width: unset;
    text-align: unset;
}
.fieldcontain .property-value {
    margin-left: 10px;
}
